@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root{
  --DarkPurple: #332B47;
  --LightBlue: #064D8A;
  --lightGray: #D8D8D8;
  --midGray: #C9C9C9;
  --DarkGray: #5B5B5B;
  --Wine: #472B31;
  --LightPurple: #705E9C;
}
