header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--LightBlue);
    color: var(--DarkPurple);
}

nav a{
    margin: 0 2rem;
    color: white;
    text-decoration: none;
    font-weight: 100;
}

nav a:hover{
     color: rgb(204, 178, 178);
}

.nav-btn{
    visibility: hidden;
    opacity: 0;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.8rem;
    
}

@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--LightBlue);
        transition: 1s;
        transform: translateY(-100vh);

    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;

    }

    nav a{
        font-size: 1.5rem;
    }

}

.logo{
    width: 13rem;
    position: relative;
    bottom: .8rem;
}
